<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShePreneur-Dashboard</title>
    <link rel="stylesheet" href="css/style2.css">
</head>
<body onload="slider()">
    <div class="banner">
        <div class="slider">
            <img src="css/background.jpg" alt="img1" id="slideimg">
        </div>
        <div class="overlay">
            <div class="navbar">
                <div class="logo">
                    <img src="css/logo.png" alt="logo">
                </div>
                <div class="menu-icons">
                    <img src="css/user3-removebg-preview.png" class="image" alt="user">
                    <img src="css/lines-removebg-preview.png" class="image2" alt="menu">
                </div>
            </div>
            <div class="content">
                <h1>Hello aspiring entrepreneur!</h1>
                <h3>You are on the right track to fulfill your dreams.</h3>
                <div>
                    <form action="/jobDesc">

                        <button type="submit">Sell</button>
                    </form>
                    <form action="/jobDesc">

                        <button type="submit">Hire Employees</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        var slideimg = document.getElementById("slideimg");
        var images= new Array(
            "css/background.jpg",
            "css/background2.jpg",
            "css/background3.jpg",
            "css/background4.jpg",
            "css/background5.jpg",
            "css/background6.png"
        );
        var len = images.length;
        var i = 0;
        function slider(){
            if(i>len-1){
                i=0;
            }
            slideimg.src=images[i];
            i++;
            setTimeout('slider()',3000);
        }
    </script>
</body>
</html>